* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 110vh;
  background: linear-gradient(135deg, #a665df, #4a00e0);
  font-family: "Poppins", sans-serif;
}
.container{
  /* background-color: beige; */
  background: linear-gradient(135deg, #26879d36, #00b7e0);
  padding: 2rem;
  border-radius: 1rem;
 
 box-shadow: 0 0px 12px 0px rgb(237, 234, 234);
  min-height: 45vh;
  width: 40vh;

    
}
.container:hover{
 
  box-shadow: 0 0px 30px 0px rgb(237, 234, 234);
 transition: all 2s ease;
    
}
form {
  margin: 2rem 0 1rem 0;
}
form select,
button,
input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0.75rem;
}
form input {
  border: 1px solid lightgray;
  font-size: 1rem;
  height: 3rem;
  padding-left: 0.5rem;
  background-color: rgba(255, 255, 255, 0.25);
}
.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.dropdown i {
  font-size: 1.5rem;
  margin-top: 1rem;
}
.select-container img {
  max-width: 2rem;
}
.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
  background-color: rgba(255, 255, 255, 0.25);
}
.select-container select {
  font-size: 1rem;
  width: auto;
  background-color: rgba(255, 255, 255, 0.25);
}

.msg {
  margin: 2rem 0 2rem 0;
}
 .msg{
  width: 100%;
  min-height: 43px;
  display: flex;
  align-items: center;
 justify-content: center;
  border: 1px solid lightgray;
  outline: none;
  border-radius: 0.75rem;
   background-color: rgba(255, 255, 255, 0.25);
   margin-top: 43px;
  }
  

form button {
  height: 3rem;
  background-color: #af4d98;
  color: #ffff;
  font-size: 1.15rem;
  cursor: pointer;
}
form button:hover {
  height: 3rem;
  background-color: #da18ad;
  color: #ffff;
  font-size: 1.15rem;
  cursor: pointer;
  box-shadow: 0px 2px 10px 0px rgb(195, 203, 219);
  transition: all 1s ease;
}
@media (max-width: 500px) {
  .container {
    background: linear-gradient(135deg, #26879d36, #00b7e0);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 12px 24px black;
    min-height: 45vh;
    width: 33vh;
  }
  .dropdown{
    height: 100px;
     display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .msg{
  width: 100%;
  height: 43px;
  display: flex;
  align-items: center;
 justify-content: center;
  border: 1px solid lightgray;
  outline: none;
  border-radius: 0.75rem;
   background-color: rgba(255, 255, 255, 0.25);
   margin-top: 43px;
  }
  .dropdown{
 margin-top: 45px;
  }
}

